body {
  background-color: #f5f5f5 !important
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

.react-date-picker__wrapper{
  border: 0px none !important;
  width: 100% !important;
}

.react-date-picker__button {
  padding: 0px !important
}

.footer{
  z-index: 99;
}

// Antd Select
.ant-select-selection{
  height: 35px !important
}

.ant-select-selection__rendered{
  line-height: 34px !important
}

.ant-calendar-picker-input{
  height: 38px !important;
  font-size: 14px !important;
}

::placeholder{
  color: #bbb !important
}

