@import './base/base';
@import './components/acticles';

.cursor-pointer{
    cursor: pointer;
}

.border-box{
    box-sizing: border-box
}

#datatable-buttons th:last-child{
    text-align: right
}

#datatable-buttons tbody tr td:last-child:not(.child){
    text-align: center
}
.dataTable thead tr th:last-child:not(.child){
    text-align: center
}
.dataTable tfoot tr th:last-child:not(.child){
    text-align: center
}

.profile-dropdown{
    width: auto !important
}


.card-body.mini-stat-img.Credit_paid {
    min-height: 320px;
    padding-top: 15px;}

    // .card-body.mini-stat-img.Credit_paid .mini-stat-icon2 {
    //     margin-top: 30px;
    // }
    .card-body.mini-stat-img.Credit_paid .mb-4, .my-4 {
        margin-bottom: 4rem!important;
    }
    .card-body.mini-stat-img.Credit_paid .mb-1, .my-1 {
        margin-bottom: 1.25rem !important;
        margin-top: 25px;
    }


    .col-md-4.no_background .card-header, .col-md-7.no_background .card-header, .card-header {
        background-color: rgba(0, 0, 0, 0) !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    .mt-3, .my-3 {
        margin-top: 1.5rem!important;
    }
    h6.color {
        float: left;
    }

    .col-md-4.padding_reduce .table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
        padding: 13px 12px !important;
    }

    .table td, .table th {
        border-top: 1px solid transparent;
    }
    .table thead th {
         border-bottom: 1px solid transparent;
    }

    .col-md-4.padding-bottom .card {
        padding-bottom: 35px;
    }
    .card-body.mini-stat-img.Credit_paid.icon_size i.mdi.mdi-briefcase-check.float-right {
        width: 50px !important;
        height: 50px !important;
        line-height: 50px !important;
    }
    .card-body.mini-stat-img.Credit_paid.icon_size .mini-stat-icon2 {
      margin-top: 0px !important;
    }
    .padding .card-body {
        padding: 10px 10px 10px 20px;
    }